:global {
  body {
    font: normal 16px "Microsoft Yahei", Futura, sans-serif;
    height: 100%;
    background-color: white;
  }
  div, p, ul, li, h2, h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  ol, ul, li {
    list-style: none;
  }
  h1 {
    text-align: center;
  }
}