.Layout {
   height: 100%;
  .user-info {
    float: right;
    margin:15px 30px 0 0;
    color: white;
    position: relative;
    z-index: 1;
  }
  .layout-menu {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    background: #001529;
    box-shadow: 0 0 3px #001529; 
    li {
      color: white;
      margin-right: 30px;
    }
    a {
      color: rgba(255, 255, 255, 0.90);
      text-decoration: none;
      &:hover {
        color: rgba(0, 255, 255, .6);
      }
    }
  }
}